

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    font-weight: 800;
    font-style: italic;
}


body{
    font-family: 'Roboto' , sans-serif;
}


a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}



/* utlity classes */

.edge{
    color: #93cb52;

}


/* Navbar */

#navbar{
    display:flex;
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar .title{
    color: white;
    font-size: 1.5rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}


#navbar ul a{
    color: white;
    padding: 0.75rem; 
    margin: 0 0.5rem;
}

#navbar ul a:hover{
background-color: #93cb52;
border-radius: 10px;

}


/* Header: Showcase */

#showcase{
    background: url(../image_resources\ 2/showcase.jpg)no-repeat center center/cover;
    height: 100vh;
    color: white;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
    padding: 4rem;
    /* Overlay */
    background-color: rgba(0,0,0,0.5);

}


#showcase .showcase-content h1{
    font-size: 3.5rem;
    padding-bottom: 20px;
}


.readmore{
    display: inline-block;
    margin-top: 1.5rem;
    color:white;
    background: #93cb52;
    padding: 20px 40px;
    border-radius: 40px;
}

.readmore:hover{
    background: rgb(238, 228, 228);
    color: black;
}




/* Section2 (What we do ) */

#whatWeDo{
    height: 500px;
    background:rgb(236, 234, 234);
}

#whatWeDo .container{
    display:flex;
    flex-basis: auto;
}

#whatWeDo span{
    color: #93cb52;
    font-weight: 600;

}

#whatWeDo i{
    padding: 1.5rem;
    background: #93cb52;
    border-radius: 50%;
    margin-bottom: 2rem;
    flex: 1;
    color: rgb(37, 37, 37);

}

#whatWeDo .box{
    padding: 2rem;
    text-align: center;
}

#whatWeDo .heading{
    color:black;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0 1.5rem 0;
}



/* Section3 Who We are  */

#whoWeAre {
    display:flex;
    height: auto;
    min-height:400px;
}
#whoWeAre img{
    height: auto;
    width: 50%;

}

#whoWeAre .container{
    background: #333;
    color: white;
    padding: 4rem;
    line-height: 1.4rem;
    text-align: center;
    
}

#whoWeAre span{
    color: #93cb52;
}

#whoWeAre h1{
    font-size: 2.5rem;
      margin-bottom: 1.5rem;
}

#whoWeAre h3{
    margin-top: 2rem;
    font-size: 30px;
    margin-bottom: 0.3rem;
}

#whoWeAre ul{
    font-size: 20px;
    list-style: none;
}

#whoWeAre li{
    line-height: 70px;;
}

hr{
    border-color: gray;
}



/* logos  */

#clients{
    text-align: center;
    height: auto;
    min-height:300px;
}

#clients .logos{
    padding: 2.3rem;
}

#clients img{
    height: auto;
    width: 11rem;
    padding: 0 2rem;
}


#clients h1{
    font-size: 2.3rem;
    font-weight: 900;
    margin-top: 1.75rem;
    color: #333;
}

#clients span{
    color: #93cb52;
}


/* contact form */

#contact{
    min-height:500px;
    height:auto;
    display:flex;
}

#contact .contact-form{
    background: #93cb52;  
    width: 50%;
}

#contact .contact-form p{
    text-align: center;
    font-size: 16px;
    padding-bottom: 1.3rem;
}
#contact .contact-form h1{
    text-align: center;
    padding-top: 1.3rem;
}



#contact .contact-form .input{
    display:flex;
    flex-direction: column;
    padding: 0px;
    
}
#contact .contact-form label{
  color: white;
    padding: 10px;
    
}

.i20{
    padding: 10px;

    margin: 10px 20px;
}

.submit-btn{
    color: white;
    text-align:center;
    background: #333;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.submit-btn:hover{
    background: gray;

}


/* footer */

#footer{
    margin-top:0;
    height: 200px;
    background: #333;
    color: white;
    text-align:center;
}

.clear{
    clear:both;
}

#map{
    width:50%;
}

#footer p{
position: relative;
top:50%;

}